{% extends 'base.html' %}

{% block title %}Student Management - Home{% endblock %}
    <h2 class="mb-4">Student List</h2>
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Photo</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Date of Birth</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="https://media.istockphoto.com/id/1351445530/photo/african-student-sitting-in-classroom.jpg?s=612x612&w=0&k=20&c=1ICaZ03iFLzDmxfBkfDkmBGSgj1SDEpsM3eSDgB1KBk=" class="rounded-circle" alt="Student Photo" height="50">
                        </td>
                        <td>John</td>
                        <td>Doe</td>
                        <td>1999-05-15</td>
                        <td>
                            <a href="student-detail.html?id=1" class="btn btn-info btn-sm">View</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="https://img.freepik.com/premium-photo/portrait-cute-korean-student-wearing-school-uniform_825367-1356.jpg" class="rounded-circle" alt="Student Photo" height="50">
                        </td>
                        <td>Jane</td>
                        <td>Smith</td>
                        <td>2000-03-22</td>
                        <td>
                            <a href="student-detail.html?id=2" class="btn btn-info btn-sm">View</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
{% endblock %}