{% extends 'base.html' %}

{% block title %}Student Add{% endblock %}

{% block content %}
    <div class="card">
            <div class="card-header">
                <h2>Add New Student</h2>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="first_name" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="first_name" name="first_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="last_name" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="last_name" name="last_name" required>
                    </div>
                    <div class="mb-3">
                        <label for="date_of_birth" class="form-label">Date of Birth</label>
                        <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" required>
                    </div>
                    <div class="mb-3">
                        <label for="photo" class="form-label">Photo</label>
                        <input type="file" class="form-control" id="photo" name="photo" accept="image/*" required>
                    </div>
                    <div class="mb-3">
                        <img id="photoPreview" class="d-none rounded-circle" style="max-width: 200px;">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a href="{% url 'students:list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
    </div>
{% endblock %}